.header {
  background-image: var(--background-image);
}

.nav {
  display: flex;
}

.list {
  display: flex;
  margin: auto;
  justify-content: space-between;
  max-width: 50%;
}

.ul {
  margin: 25px auto;
}

.element {
  all: unset;
  text-decoration: none;
  border: solid 2px var(--border-color, rgba(0, 0, 0, 0.377));
  border-radius: 45%;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  background-color: var(--accent-color, rgb(136, 92, 70));
}

.themeButton {
  justify-content: center;
  align-self: center;
  display: inline;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-image: url(../../../../public/day-night.svg);
}