.header {
  background-image: var(--background-image);
}

.nav {
  display: flex;
}

.list {
  display: flex;
  justify-content: space-between;
  max-width: 50%;
  margin: auto;
}

.ul {
  margin: 25px auto;
}

.element {
  border: solid 2px var(--border-color, rgba(0, 0, 0, 0.377));
  border-radius: 45%;
  padding: 15px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent-color, rgb(136, 92, 70));
  all: unset;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.calc {
  min-width: 50px;
  min-height: 50px;
  background-image: url(../../../../public/calculator-theme-light.svg);
}

.integral {
  min-width: 50px;
  min-height: 50px;
  background-image: url(../../../../public/integral-theme-light.svg);
}

.task {
  min-width: 50px;
  min-height: 50px;
  background-image: url(../../../../public/task-theme-light.svg);
}

.themeButton {
  display: inline;
  justify-content: center;
  align-self: center;
  width: 50px;
  height: 50px;
  margin-right: 50px;
  background-image: url(../../../../public/day-night.svg);
  cursor: pointer;
}