.area {
  width: 100%;
  margin: 0;
  border: solid 3px rgba(0, 0, 0, 0.377);
  border-radius: 5%;
  font-size: 45px;
  text-align: center;
  background-color:gainsboro;
}

.history:first-child {
  margin-block-start: 25px;
  color: black;
}

.history {
  display: block;
  margin-block: 21px;
  color: gray;
  transition: display 3s ;
}