.area {
  width: 100%;
  margin: 0;
  border: solid 3px var(--border-color);
  border-radius: 5%;
  font-size: 45px;
  text-align: center;
  background-color: var(--section-color, #dcdcdc);
}

.history:first-child {
  margin-block-start: 25px;
  color: var(--text-color, #000);
}

.history {
  display: block;
  margin-block: 21px;
  color: var(--second-text-color, gray);
  transition: display 3s ;
}